Welcome!

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Formulario de Canje</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="money">$ Monto</label>
            <div class="controls">
                <input id="money" name="money" type="text" placeholder="Ingrese el monto" class="input-xlarge" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="tapitas">Tapitas</label>
            <div class="controls">
                <input id="tapitas" name="tapitas" type="text" placeholder="Ingrese cantidad de tapitas" class="input-xlarge" required="">

            </div>
        </div>

        <!-- Button (Double) -->
        <div class="control-group">
            <label class="control-label" for="button1id"></label>
            <div class="controls">
                <button id="button1id" name="button1id" class="btn btn-success">Guardar</button>
                <button id="button2id" name="button2id" class="btn btn-default">Cancelar</button>
            </div>
        </div>

    </fieldset>
</form>