
<div class="overlay"></div>

<header class="header">
  <img src="app/img/logo.png" alt="TAppIt">
</header>


<div class="main">

    <form class="form-horizontal" ng-submit="sendForm()">
        <fieldset>

            <!-- Form Name -->
            <legend>Canje de tapitas</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="dinero">Monto</label>
                <div class="col-md-5">
                    <input id="dinero" ng-model="item.monto" name="textinput" type="text" placeholder="Ingrese el monto" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="tapas">Tapitas Pepsi</label>
                <div class="col-md-5">
                    <input id="tapas" ng-model="item.tapitas" name="textinput" type="text" placeholder="Ingrese las tapitas" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="envases">Envases Lays</label>
                <div class="col-md-5">
                    <input id="envases" ng-model="item.envases" name="textinput" type="text" placeholder="Ingrese la cantidad de envases" class="form-control input-md">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-success" type="submit">Enviar</button>
                    <button id="button2id" name="button2id" ng-click="cancelForm()" class="btn btn-default" type="button">Cancelar</button>
                </div>
            </div>

        </fieldset>

        <div class="alert alert-success" ng-show="message.success">
            {{message.success}}
        </div>
        <div class="alert alert-danger" ng-show="message.error">
            {{message.error}}
        </div>
    </form>

</div>
